<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.usha.api_demo" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".get_single"
            android:label="@string/title_activity_get_single" >
        </activity>
        <activity
            android:name=".get_authenticated"
            android:label="@string/title_activity_get_authenticated" >
        </activity>
        <activity
            android:name=".Update_user"
            android:label="@string/title_activity_update_user" >
        </activity>
        <activity
            android:name=".all_user"
            android:label="@string/title_activity_all_user" >
        </activity>
    </application>

</manifest>
